body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  max-width: 700px;
  margin-left: 20%;
  margin-right: 20%;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 30px;
  padding: 5px;
  font-stretch: extra-expanded;
}


input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  border-radius: 8px;
}

.logout{
    flex: 1 1 0%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    color: rgb(228 26 26);
    width: 10%;
    position: relative;
    top: 0px;
    left: 90%;
    font-size: 15px;
    font-weight: 700;
    padding: 5px;
    transition: 0.4s;
}


.logout:hover {
    opacity: 0.8;
  }
  .logout:active {
    opacity: 0.6;
  }


.text {
  padding: 5px;
}

.main {
  display: flex;
  padding: 10px 5px;
}

.fa {
  font-size: 25px;
  cursor: pointer;
  transition: 0.4s;
}

#items .item {
  display: flex;
  justify-content: space-between;
  background-color: rgb(171, 233, 171);
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
  margin-bottom: 10px;
}

.item #submitted-task {
  flex: 1 1 0%;
  padding: 5x;
}

.item #submitted-task input {
  width: 98%;
}

.item #submitted-task .text {
  color: rgb(14, 77, 47);
  transition: 0.4s;
}
.item #submitted-task input:not(:read-only):focus {
  color: red;
  transition: 0.4s;
  outline-style: dashed;
  outline-color: red;
}

#new-item-form {
  display: flex;
}

#new-item-input {
  flex: 1 1 0%;
  margin-right: 5px;
  outline: auto;
  outline-color: rgb(14, 77, 47);
}

#new-item-submit {
  background-color: rgb(171, 233, 171);
  color: rgb(14, 77, 47);
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s;
}

#new-item-submit:hover {
  opacity: 0.9;
}
#new-item-submit:active {
  opacity: 0.7;
}

.item-settings .edit {
  color: rgb(14, 77, 47);
}

.item-settings .delete {
  color: red;
}
.item-settings .delete:hover {
  opacity: 0.8;
}
.item-settings .delete:active {
  opacity: 0.6;
}
.item-settings .edit:hover {
  opacity: 0.8;
}
.item-settings .edit:active {
  opacity: 0.6;
}
